<!DOCTYPE html>
<html>
    <head> 
        <link href="css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        {{{ body }}}
    </body>

        <script src="/bundle.js"></script>       
</html>
