<!DOCTYPE html>
<html>
    <head>                     
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>    
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>   
    </head>

<!--<body class="bg-dark text-white justify-content-center align-items-center d-flex flex-column vh-100"-->
    
    <body class="bg-dark text-white justify-content-center align-items-center d-flex flex-column">
        {{{ body }}}
    </body>
</html>