<h2>Home Garden Tracker</h2>

{{#if noPlants}}
    No plant data found. Perhaps you want to add some?
    <br><br>
    Click <a href = "new">here</a> to add a plant.
{{else}}
    <div class="container mt-4">
        <div class="row">
            {{#each plant}}
                
                <div class="col-md-4 mb-4">
                    {{> singlePlant}}
                    <br><br>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}

